.titulo-principal {
  padding-left: 20px;
}


.principal {
  background-color: #CCCC;
  padding: 30px;
}


p {
  text-align: center;
}


em strong {
  color: #FF0000;
}

.beneficios {
  background-color: #FFFFFF;
  padding: 20px;
}


ul {
  display: inline-block;
  vertical-align: top;
  width: 20%;
margin-right: 15%;
}
.item{
  font-style: italic;
}
.texto-centralizado {
  text-align: center;
}

.imagem-beneficios {
  width: 50%;
}